<% include partials/header %>
<div class="midDiv">
    <h1>Marvel Universe</h1>
    <p>Add your favorite Marvel characters</p>
    <a class="btn btn-primary" href="/characters">See them All in Action <i class="fas fa-play-circle"></i></a>
</div>
<% include partials/footer %>